[Generic]
doi_url = https://doi.org/

[local]
only_local = false
repo = digital_csic

[Repositories]
#Name in plugin, name in tag
digital_csic = 'Digital.CSIC'
dspace7 = 'DSpace7'

[digital_csic]
db_host = 
db_port =
oai_ep  =

[example_plugin]
base_url = localhost
