<!-- PIE DE PAGINA -->
<footer>
{% block footer %}
    <div class="container">
        <p><a href="/home">Home</a>&nbsp; | &nbsp; <a href="/about_us">Acerca de</a>&nbsp; | &nbsp; <a href="evaluaciones.html">Evaluaciones</a></p>
         <!-- logo image -->
	 <div class="row">
           <div class="column">
             <a href="https://www.csic.es/" target="_blank" title="Consejo Superior de Investigaciones Cient&iacute;ficas (CSIC)"><img class="img-responsive" src="/static/img/csic.png" alt="Consejo Superior de Investigaciones Cient&iacute;ficas (CSIC)" />
	     </a>
	   </div>
	   <div class="column">
             <a href="http://bibliotecas.csic.es/" target="_blank" title="Red de Bibliotecas y Archivos del CSIC"><img class="img-responsive" src="/static/img/red.png" alt="Red de Bibliotecas y Archivos del CSIC" />
	     </a>
	   </div>
	   <div class="column">
             <a href="https://digital.csic.es/" target="_blank" title="DIGITAL.CSIC, repositorio institucional del Consejo Superior de Investigaciones Cient&iacute;ficas (CSIC)"><img class="img-responsive" src="/static/img/logo.png" alt="DIGITAL.CSIC, repositorio institucional del Consejo Superior de Investigaciones Cient&iacute;ficas (CSIC)" />
	     </a>
	   </div>
           <div class="column">
             <a href="https://ifca.unican.es/es-es" target="_blank" title="Instituto de F&iacute;sica de Cantabria (IFCA - CSIC)"><img class="img-responsive" src="/static/img/ifca.png" alt="Instituto de F&iacute;sica de Cantabria (IFCA - CSIC)" />
	     </a>
	   </div>
	</div>
         <!-- copy right -->
         <!-- This theme comes under Creative Commons Attribution 4.0 Unported. So don't remove below link back -->
         <p class="copy-right"><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">CC BY-NC-SA 4.0</a> &nbsp; | &nbsp; <a href="https://digital.csic.es/dc/contacto.jsp" target="_blank">Oficina T&eacute;cnica de DIGITAL.CSIC</a>

        <br><br>
{{ _('FAIR EVA receives funding from the European Union Horizon 2020 research and innovation programme under grant agreement No 857647.') }}
        </p>
    </div>
</footer>
</div>
{% endblock %}
