{% extends 'base.html' %}
{% block body %}
{% block content %}
			
            
            
<!-- DATOS TOTALES -->  
			
            
			<div class="works" id="metodologia">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading3">
						<!-- heading -->
                        <h2>About us:</h2>
                        <!-- paragraph -->

                        
<p>FAIR EVA for DIGITAL.CSIC is a new service to provide feedback to CSIC researchers about the current level of FAIRness of digital objects hosted by CSIC institutional repository. It is a pilot implementation of the FAIR Eva tool which allows multiple use cases through plug-ins.<br><br>

FAIR EVA tool has been designed to start working by a generic technical implementation (DIGITAL.CSIC) using a set   specific metrics (RDA Data Maturity Indicators) as reference. This default configuration matches the RDA levels of importance (namely, essential, important and useful) with x3, x2 and x1 in value to give more weight to most important indicators.<br><br>

The goal of FAIR EVA for DIGITAL.CSIC is not only to provide a percentage of digital object FAIRness *at time of running a test*, but also to guide CSIC researchers and repository's administrators to improve FAIRness compliance.<br><br>

By entering the handle identifier or the DOI of a specific dataset available in DIGITAL.CSIC, the tool calculates automatically level of compliance with respect to every single RDA indicator. In addition, the tool provides with information on what automatic tests have been implemented for the assessment as well as feedback to understand the scoring within the context of DIGITAL.CSIC policies and technical infrastructure and recommendations for data creators to improve scoring. Generally speaking, it could be argued that while the set of F (Findable) and A (Accessibility) indicators mostly fall under the responsability of repository administrators, data creators can contribute to increasing FAIR compliance as far as I (Interoperability) and R (Reusability) indicators in a significant way.<br><br>

Please note that this is a beta release of the tool and future work will refine calculations as well as support information.<br><br>

The tool should be used as a guidance to improve FAIRness on DIGITAL.CSIC infrastructure. It is important to bear in mind that any given digital object under assessment can improve scoring as more metadata are provided and more technological improvements are enabled on the repository software.
</p>


                        


    
                       
        
</div>
</div>
            
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            
            
{% include "snippets/footer.html" %} 
{% endblock %}
{% endblock %}
