{% extends 'base.html' %}
{% block body %}
{% block content %}
			
            
            
<!-- DATOS TOTALES -->  
			
            
			<div class="works" id="metodologia">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading3">
						<!-- heading -->
                        <h2>Acerca de:</h2>
                        <!-- paragraph -->

                        
<p>{{ ('FAIR EVA es un servicio web que mide el grado de alineaci&oacute;n de los objetos digitales (principalmente datos de investigaci&oacute;n) disponibles en el repositorio institucional DIGITAL.CSIC con los Principios FAIR. Se basa en los <a href="https://www.rd-alliance.org/system/files/FAIR%20Data%20Maturity%20Model_%20specification%20and%20guidelines_v0.90.pdf" target="_blank" title="RDA FAIR Data Maturity Indicators">RDA FAIR Data Maturity Indicators</a> y presta especial atenci&oacute;n a caracter&iacute;sticas de repositorios institucionales.' )}}</p>


                        


    
                       
        
</div>
</div>
            
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
            
            
{% include "snippets/footer.html" %} 
{% endblock %}
{% endblock %}
