{% extends 'base.html' %}
{% block body %}
{% block content %}



<!-- DATOS TOTALES -->


			<div class="works" id="metodologia">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading3">
						<!-- heading -->
                        <h2>Evaluaciones</h2>
                        <!-- paragraph -->


<p>FAIR EVA para DIGITAL.CSIC es un nuevo servicio para la comunidad cient&iacute;fica del CSIC. Los informes que se generan con la herramienta no se publican a menos que los creadores de datos as&iacute; lo autoricen expresamente.</p>
					</div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


{% include "snippets/footer.html" %}
{% endblock %}
{% endblock %}
