{% extends 'base.html' %}
{% block body %}
{% block content %}



<!-- DATOS TOTALES -->


			<div class="works" id="metodologia">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading3">
						<!-- heading -->
                        <h2>Evaluations</h2>
                        <!-- paragraph -->


<p>FAIR EVA for DIGITAL.CSIC is a new service for CSIC researcher community. Those assessment reports that are generated through the tool are not made public unless data creators explicitly give their consent.</p>
</div>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>


{% include "snippets/footer.html" %}
{% endblock %}
{% endblock %}
