{% extends 'base.html' %}
{% block body %}
{% block content %}



<!-- DATOS TOTALES -->


			<div class="works" id="metodologia">
				<div class="container">
					<!-- default heading -->
					<div class="default-heading3">
						<!-- heading -->
                        <h2>Frequent Asked Questions</h2>
<div>
    <h3>¿Qué es FAIR EVA?</h3>
    <p>FAIR EVA</p>
</div>

<div>
    <h3>¿Cómo se obtienen los datos y metadatos?</h3>
    <p>Para DIGITAL.CSIC: Base de datos, API o OAI-PMH</p>
</div>

<div>
    <h3>¿Cómo se puntúa?</h3>
    <p>Pesos</p>
</div>

<div>
    <h3>¿Pueden cambiar las puntuaciones</h3>
    <p>Sí, en caso de problema...</p>
</div>




{% include "snippets/footer.html" %}
{% endblock %}
{% endblock %}
