<!DOCTYPE html>

<html>

<head>
    <title>Suggestions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
</head>

<body>
<div style="text-align: center;"><span style="color: rgb(204, 0, 0);">
    <div class="img">
	<img alt="FAIR eva logo" src="{{ url_for('static', filename='images/logo_fair02.png') }}"><br>
    </div>
Evaluator for DIGITAL.CSIC</span><br>
</div>
<div style="text-align: center;">
<form action="/evaluator" methos="POST">
    {{ form.csrf_token }}
    Handle PID, DOI or DIGITAL.CSIC ID {{ form.item_id }}
    Repository: {{ form.repo }}
    <button type="submit"> CHECK ID
    </button>
</form>
</div>
</body>

</html>
