{% extends "dy0.html" %}
{% block body %}
<script type="text/javascript">
var intervalID = setInterval(update_values,10000);

  function update_values() {
                       
      function(data) {
        $('#msg').text(data.msg);
        $('#points').text(data.points);
        var myElement = document.getElementById("test_1");
        myElement.setAttribute('style', 'background-color: '.concat(data.color));
        console.log(data)
      });
      
    };
   
    
    
    function stopTextColor() {
      clearInterval(intervalID);
    }
    
</script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<body onload="update_values();" style="background-color: lightgrey">    
    <div style="text-align: center;"><span style="color: rgb(204, 0, 0);">
        <div class="img">
            <img alt="FAIR eva logo" src="{{ url_for('static', filename='images/logo_fair02.png') }}"><br>
        </div>
        Evaluator for DIGITAL.CSIC</span><br>
    </div>
	
	<div id="container-main">
            <h2>Error</h2>
                404 - NOT FOUND
            </div>

    <button onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</body>
{% endblock %}
