{% extends 'base.html' %}
{% block body %}
{% block content %}

<script type="text/javascript">
var intervalID = setInterval(update_values,10000);

  function update_values() {
                       
      function(data) {
        $('#msg').text(data.msg);
        $('#points').text(data.points);
        var myElement = document.getElementById("test_1");
        myElement.setAttribute('style', 'background-color: '.concat(data.color));
        console.log(data)
      });
      
    };
   
    
    
    function stopTextColor() {
      clearInterval(intervalID);
    }
    
</script>
	<div id="container-main">
            <h2>Error</h2>
                404 - NOT FOUND
            </div>

    <button onclick="goBack()">Go Back</button>
        <script>
            function goBack() {
                window.history.back();
            }
        </script>
    </div>
</body>
{% include "snippets/footer.html" %}
{% endblock %}
{% endblock %}
