name: replace-references
on:
  pull_request:
  push:
    branches: [merge/repo-sync, merge/upstream]

jobs:
  replace_references:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    # extract branch name (either on push or pull_request)
    - name: Extract branch name
      if: github.event_name != 'pull_request'
      shell: bash
      run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> "$GITHUB_ENV"
      id: extract_branch
    - name: Print branch name
      if: github.event_name == 'pull_request'
      run: echo "BRANCH_NAME=$(echo ${GITHUB_BASE_REF})" >> "$GITHUB_ENV"
    - run: bash -x ./.github/workflows/scripts/set_refs.sh $BRANCH_NAME
    - run: git status
    - uses: gr2m/create-or-update-pull-request-action@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        branch: $BRANCH_NAME
        author: "Pablo Orviz <orviz@ifca.unican.es>"
        commit-message: "Update references"
